.body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}


.container .model-house {
  grid-area: house;


}

.container .model-house iframe {
  border:0;
}

.container .bottom {
    grid-area: bottoms; 
    background-color: #222; 
}


